bin/
Core.Aplicacion/bin/
Core.Aplicacion/obj/
Core.Aplicacion.Dto/bin/
Core.Aplicacion.Dto/obj/
Core.Dominio/bin/
Core.Dominio/obj/
Core.Dominio.Entidades/bin/
Core.Dominio.Entidades/obj/
Core.Persistencia/bin/
Core.Persistencia/obj/

Tareo.Aplicacion/bin/
Tareo.Aplicacion/obj/
Tareo.Aplicacion.Dto/bin/
Tareo.Aplicacion.Dto/obj/
Tareo.Dominio/bin/
Tareo.Dominio/obj/
Tareo.Dominio.Entidades/bin/
Tareo.Dominio.Entidades/obj/
Tareo.Persistencia/bin/
Tareo.Persistencia/obj/
Tareo.Transversal/bin/
Tareo.Transversal/obj/

Web/bin/
Web/obj/

packages/

.vs/

Web/dist/

Web/my_web.log




