<nav id="mainnav-container">
    <div id="mainnav">
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">
                        <li class="list-header"> General</li>
                        <li>
                            <a href="~/">
                                <i class="icon-grid icons" style="font-size:16pt;"></i>
                                <span class="menu-title">Inicio</span>
                            </a>
                        </li>




                        <!-- <li class="list-header"> Tareo</li>
    <li>
        <a href="~/Tareo/Tareo">
            <i class="icon-credit-card icons" style="font-size:16pt;"></i>
            <span class="menu-title">  RRHH</span>
        </a>

    </li>

    <li>
        <a href="~/Tareo/Tareo/TareoRemuneracion">
            <i class="icon-layers icons" style="font-size:16pt;"></i>
            <span class="menu-title">  Remuneraciones</span>
        </a>

    </li>
    <li>
        <a href="~/Tareo/Tareo/TareoComparacion">
            <i class="icon-layers icons" style="font-size:16pt;"></i>
            <span class="menu-title"> Comparación</span>
        </a>

    </li>-->
                        <li class="list-header"> Tareo</li>

                        <li>
                            <a href="~/Tareo/Tareo/SeguimientoGeneral">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Seguimiento General</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/BandejaTareo">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Bandeja</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/Tareo/Tareo/BandejaSeguimiento">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Seguimiento </span>
                            </a>
                        </li>

                        <li class="list-header"> Sobretiempos</li>
                        <li>
                            <a href="~/Tareo/Tareo/SobreTiempo">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Sobretiempos </span>
                            </a>
                            <a href="~/Tareo/Tareo/BandejaSobreTiempo">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Bandeja </span>
                            </a>
                            <a href="~/Tareo/Tareo/BandejaSeguimientoSobreTiempo">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Seguimiento </span>
                            </a>
                        </li>

                        <li class="list-header"> Reportes</li>
                        <li>
                            <a href="~/Tareo/Tareo/ReporteFeriados">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Feriados y dias libres </span>
                            </a>
                        </li>
                        @*<li>
                            <a href="~/Tareo/Tareo/ValidadorFeriados">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Feriados y dias libres </span>
                            </a>
                        </li>*@
                        <li>
                            <a href="~/Tareo/Tareo/ReporteTardanzas">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Reporte Tardanzas y SobreTiempos </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/Remuneraciones">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Reporte Remuneraciones </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/RegistroHistorico">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Registro Historico y Reporte </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/ReporteSeguimiento">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Reporte de Seguimiento </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/ReporteMarcacionFaltante">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Reporte de Marcacion Faltante </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/ReporteIncidencias">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Reporte de Incidencias </span>
                            </a>
                        </li>

                        <li class="list-header"> Formularios</li>
                        <li>
                            <a href="~/Tareo/Tareo/FormularioMarcacionFaltante">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Formulario marcacion faltante</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/RegistroIncidenciasLider">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Formulario Registro de Incidencias</span>
                            </a>
                        </li>



                        <li class="list-header"> Flujos</li>
                        <li>
                            <a href="~/Tareo/Tareo/FlujoMarcacionFaltante">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Flujo de marcacion faltante</span>
                            </a>
                        </li>
                        <li class="list-header"> Configuración</li>
                        <li>
                            <a href="~/Tareo/Tareo/ConfiguracionMotivo">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Configuracion de Motivos de marcacion faltante</span>
                            </a>
                        </li>
                        @*<li>
                            <a href="~/Tareo/Tareo/TarjetasConfiguracion">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title"> Tarjetas de Configuración</span>
                            </a>
                        </li>*@
                        <li>
                            <a href="~/Tareo/Tareo/Leyenda">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Leyenda</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/Roaster">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Roster</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Tareo/Tareo/Trabajadores">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Listado de personas </span>
                            </a>
                        </li>

                        <li>
                            <a href="~/Tareo/Tareo/HistorialAcciones">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Historial de Acciones </span>
                            </a>
                        </li>

                        <li>
                            <a href="~/Tareo/Tareo/ListaIncidentes">
                                <i class="icon-credit-card icons" style="font-size:16pt;"></i>
                                <span class="menu-title">  Lista de Incidentes </span>
                            </a>
                        </li>

                        @*<li>
            <a href="~/Tareo/Tareo/MiCuenta">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">D - MiCuenta</span>
            </a>
        </li>

        <li>
            <a href="~/Tareo/Tareo/Parametros">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">E - Parametros</span>
            </a>

        </li>

        <li>
            <a href="~/Tareo/Tareo/Log">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">F - Log</span>
            </a>
        </li>

        <li>
            <a href="~/Tareo/Tareo/Empresas">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title"> G - Empresas</span>
            </a>
        </li>

        <li>
            <a href="~/Tareo/Tareo/PlanCuentas">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">Plan de Cuentas</span>
            </a>
        </li>
        <li>
            <a href="~/Tareo/Tareo/Cajeros">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">Cajeros</span>
            </a>
        </li>

        <li>
            <a href="~/Tareo/Tareo/Traspasos">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">Traspasos</span>
            </a>
        </li>
        <li>
            <a href="~/Tareo/Tareo/Comprobantes">
                <i class="icon-layers icons" style="font-size:16pt;"></i>
                <span class="menu-title">Comprobantes</span>
            </a>
        </li>*@

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
